html {
	
	scroll-behavior: smooth;
	
}

html > body {
	
	font-family: arial, helvetica, comic sans-serif;
	
}

ul.menu > li > a {
	
	color: navy;	
	
}

ul.menu > li > a:hover {
	
	background-color: #000;
	color: #fff;
	
}

.section-block {
	
	padding: 10px;
	
}

#shortresumecontent {
	
	display: none;
	
}